<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>SEED | HT's Avalon</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<!--[if lte IE 8]><script src="{{ url_for('static', filename='seed/js/ie/html5shiv.js') }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='seed/css/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='seed/css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/rollbar/css/jquery.rollbar.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='seed/css/ie8.css') }}" /><![endif]-->
	</head>
  <style type="text/css">

    body,html {
      width: 100%;
      height: 100%;
    }
    h3:hover {
      cursor: pointer;
      color: #080808;
    }

  </style>
	<body id="top">
    <header id="header">
      <a href="#" class="image avatar"><img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="" /></a>
{#				<h1><strong>H. Teng</strong></h1>#}
      <h1>nothing to cele, fight inside peace</h1>
    </header>
    <div id="main">
      <section id="one">
        <header class="major">
          <h2>Here's SEED</h2>
          <h3>Hi , I am Haytham Teng , Welcome to my homepage</h3>
        </header>
        <p>&lt;el psy congroo&gt;</p>
        <ul class="actions">
          <li><a href="/resume" class="button">About Me</a></li>
        </ul>
      </section>
      <section id="two">
        <h2>My Projects</h2>
        <div class="row">
          <article class="col-md-6 work-item">
            <a href="{{ url_for('static', filename='files/SWeather.apk') }}" class="image fit thumb"><img src="{{ url_for('static', filename='images/fulls/sw.jpg') }}" alt="" /></a>
            <h3 onclick="window.open('https://github.com/HevLfreis/SWeather')">SWeather</h3>
            <p>Android weather app</p>
          </article>
          <article class="col-md-6 work-item">
            <a href="http://v.youku.com/v_show/id_XMTQ4MDkyNTg4OA==.html" target="_blank" class="image fit thumb"><img src="{{ url_for('static', filename='images/fulls/md.jpg') }}" alt="" /></a>
            <h3 onclick="window.open('https://github.com/HevLfreis/MDIDroid')">MDIDroid</h3>
            <p>Android security system</p>
          </article>
          <article class="col-md-6 work-item">
            <a href="http://aap.seeleit.com/" target="_blank" class="image fit thumb"><img src="{{ url_for('static', filename='images/fulls/aap.jpg') }}" alt="" /></a>
            <h3 onclick="window.open('https://github.com/HevLfreis/AAP')">AAP</h3>
            <p>Android apk analysis web platform</p>
          </article>
          <article class="col-md-6 work-item">
            <a href="http://dj.seeleit.com/" target="_blank" class="image fit thumb"><img src="{{ url_for('static', filename='images/fulls/dj.jpg') }}" alt="" /></a>
            <h3 onclick="window.open('https://github.com/HevLfreis/Devicejudge')">Device Judge</h3>
            <p>A platfrom of monitoring user behaviors in net traffic</p>
          </article>
          <article class="col-md-6 work-item">
            <a href="http://ic.seeleit.com/" target="_blank" class="image fit thumb"><img src="{{ url_for('static', filename='images/fulls/sc.jpg') }}" alt="" /></a>
            <h3 onclick="window.open('https://github.com/HevLfreis/IComm')">Intelligent Community</h3>
            <p>Project for Lixiang Cup Data Contest of China Telecom</p>
          </article>
          <article class="col-md-6 work-item">
            <a href="#" class="image fit thumb" ondblclick="window.open('http://lime.seeleit.com/')"><img src="{{ url_for('static', filename='images/fulls/ud.jpg') }}" alt="" /></a>
            <h3 onclick="window.open('https://github.com/HevLfreis/LineMe')">LineMe</h3>
            <p>A multiplex social network collecting web platform</p>
          </article>
        </div>
        <ul class="actions">
          <li><a href="https://github.com/HevLfreis" target="_blank" class="button">Full on Github</a></li>
        </ul>
      </section>
      <section id="three">
        <h2>Contact Me</h2>
        <p>If you have any problem, please contact me (ﾉﾟ▽ﾟ)ﾉ</p>
        <div class="row">
          <div class="col-md-12">
            <ul class="labeled-icons">
              <li>
                <h3 class="icon fa-comment"><span class="label">Address</span></h3>
                Complex Network & Control Lab</br>SEIEE Building #2-310</br>
                Shanghai Jiao Tong University - Minhang Campus</br>800 Dongchuan RD. Shanghai 200240, P.R.China
              </li>
              <li>
                <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
                hevlhayt@foxmail.com
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <footer id="footer">
      <ul class="icons">
        <li><a href="https://github.com/HevLfreis" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; 2016 HT All Rights Reserved.</li>
      </ul>
    </footer>

    <script src="{{ url_for('static', filename='seed/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='seed/js/jquery.poptrox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='seed/js/skel.min.js') }}"></script>
{#			<script src="{{ url_for('static', filename='js/util.js') }}"></script>#}
    <!--[if lte IE 8]><script src="{{ url_for('static', filename='seed/js/ie/respond.min.js') }}"></script><![endif]-->
    <script src="{{ url_for('static', filename='seed/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/rollbar/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/rollbar/js/jquery.mousewheel.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/rollbar/js/jquery.rollbar.min.js') }}"></script>
    <script type="text/javascript">
      $('body').rollbar({
        sliderSize: '25%',
        sliderOpacity: 0.3,
        touchSpeed: 0.25,
      });
    </script>
	</body>
</html>