<header class="major">
  <h2 class="memo">SNOW</h2>
  <h3 class="memo">@HevLfreis & smallmeow</h3>
  <h3 class="memo">We met for quartet and cat. Lost in your smile and Love you till now.</h3>
  <h4 class="memo">I'd like to color every single day in your life. {{ days }} days and forever.</h4>
</header>
<p id="music" class="memo" style="cursor: pointer" title="Play Music">&lt;♪ : 君の伴奏者&gt;</p>
<ul class="actions" style="visibility: hidden">
  <li><a href="/resume" class="button">About Me</a></li>
</ul>
